<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Error</title>

  <style>
       body{
        text-align: center;
       }
       a{
        text-decoration: none;
        background-color: red;
        color: white;
        padding: 10px;
        border-radius: 5px;
       }
       .container{
         margin-top:60px;
       }
  </style>
</head>
<body>
  <div class="container">
    <h1 style="color: rgba(200, 0, 0); font-size:50px;">404</h1>
    <p style="font-size:25px;">Oops Your Page Not Found</p>
    <a href="/">Go Back Home</a>
  </div>


</body>
</html>