<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>card</title>

</head>
<body>

    <header>
           <nav class="nav-bar-container">
            
            <a class="nav-bar-container_brand-logo-anchor" href="#logo">
                 <div class="nav-bar-container_brand-logo">
                    <img class="nav-bar-container_brand-logo_image" src="../../assets/amazon_logo.png"  width="120px" height="50px" alt="logo">
                    <span class="nav-bar-container_brand-logo_in">.in</span>
                 </div>
            </a>


            <div class="nav-bar-container_location-container">
            <i  class="nav-bar-container_location-container_location-icon fa-solid fa-location-dot"></i>
                <div class="nav-bar-container_location-container_address">
                        <p style="color: #cccccc; font-size: 12px;">Deliver to MD</p>
                        <p style="font-weight:bold; font-size: 14px;">New York 847221</p>
                </div>
            </div>

            <!-- search box -->

            <div class="nav-bar-container_search-box-container">

                <div class="nav-bar-container_search-box-left">
                        <p style="color:black;">All</p>
                        <i style="color:black; font-size: 10px;margin-top: 2px;" class="fa-solid fa-caret-down"></i>
                </div>
                <input class="nav-bar-container_search-box" placeholder="Search Amazon.in" type="text">
                <div class="nav-bar-container_search-box-right">
                       <span style="color:black;" class="material-symbols-outlined">search</span>
    
                </div>
            </div>

            <div class="nav-bar-container_flag-container">
                <img src="../../assets/india-flag-icon.webp" width="20px" alt="">
                <p style="color: white;">EN</p>
                  <i style="color:white; font-size: 10px;margin-top: 2px;" class="fa-solid fa-caret-down"></i>

            </div>
           
          </nav>
       </header>

        <section class="product-card-section">
         <div class="content">

            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/81p+3mJGYCL._AC_SY145_.jpg" width="70px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/61+2gQPQNNL._AC_SY145_.jpg" width="60px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
           
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
            <div class="product-card-section_card1 product-card">
    
                <h2 class="product-card-section_card1_heading">Deals inspired by your recent history</h2>
    
                <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
        
               <div class="product-card-section_card1_top-card">
    
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                    <div class="product-card-section_card1_top-left-sub-card">
                        <img class="product-card-section_card1_top-left-sub-card_image" src="https://m.media-amazon.com/images/I/71rZhE174wL._AC_SY145_.jpg" width="50px" alt="">
                        <div class="product-card-section_card1_top-left-sub-card_info">
                            <span class="product-card-section_card1_top-left-sub-card_info_discount">63%off</span>
                            <span class="product-card-section_card1_top-left-sub-card_info_bcz">Great Indian Festival</span>
                            
                        </div>
                        
                    </div>
                </div>
    
                <p class="product-card-section_card1_bottom-info">See all deals</p>
            </div>
            
           
        </div>
         
 
        </section>
</body>
</html>