*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,.container{
    min-height: 100vh;
    background-color: #141414;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em 5em;
}

header{
   flex: 1;
   border: 2px solid red;
   border-radius: 2em;
   background-color: #8733fc;

}
section{
   flex: 4;
   border-radius: 2em;
  display: flex;
  gap: 1em;
}

.col-left{
   flex: 2;
   border: 2px solid red;
   border-radius: 2em;
   background-color: #f93131;
}

.col-right{
   flex: 1;
   border:2px solid red;
   border-radius: 2em;
   background-color:#fb9510;
}

.container.second section{
   flex-direction: row-reverse;
}

footer{
  flex: 1;
  border-radius: 2em;
  background-color: rgb(59,49,245);
}

@media(max-width: 968px){
  section,.container.second section{
    flex-direction: column;
  }

  .container{
    margin:1em 2em
  }
}